body {
    background-color: #E0E0E2;
}

h1 {
    color: #721817;
}

h2 {
    color: #721817;
}
.center-text{
    text-align: center;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2 > span {
    font-size: 0.75em;
    color: #FA9F42;
}

#copyright {
    font-size: 0.75em;
    padding: 12px 0 0 0;
}